body {
    background-image: url("../img/4.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0px;
}

header {
display: flex;
flex-direction: row;
width: 100%;
}


.center {
    position: relative;
    width: 40em;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 40em;
  position: absolute;
}

.dice-guess {
    margin-left: 5em;
    display: flex;
}

.dice .active {
    opacity: 1;
}


.dice-guess .active-guess {
    opacity: 1;  
}

.dice img  {
    position: fixed;
    bottom: 500px;
    right: 1000px;
    width: 300px;
    opacity: 0;
    width: 200px;
}

.dice-guess img {
    position: fixed;
    bottom: 115px;
    position: absolute;
    opacity: 0;
    width: 200px;
}

.logo {
    max-width: 50px;
}