/*Background image and making sure all of the content like the dice are centered*/
body {
  background-image: url('../img/red.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

/*Positioning for the points div*/
header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0px;
}

main {
  margin-top: 3em;
}

/*Points div markup*/
.points {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background-color: rgba(49, 158, 16, 0.9);
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 10px;
  width: 11em;
  font-family: Arial, Helvetica, sans-serif;
}

/*High score text markup*/
.high-score {
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}




/*Centers the box around the dice and its content(The dice)*/
.center {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2em;
  border-radius: 10px;
  width: 100%;
  height: 50%;
  flex-direction: row;
}

.center .start p,
.center .guess p {
  color: white;
  font-weight: 500;
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.start,
.guess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-img,
.dice-guess-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  margin-bottom: 20px;
}

.dice-img img,
.dice-guess-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.dice-img img.active,
.dice-guess-img img.active-guess {
  opacity: 1;
}

.start-button,
.guess-buttons button {
  width: 119%;
  padding: 1em;
  margin-top: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #F4B400;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.start-button:hover,
.guess-buttons button:hover {
  background-color: #FFD700;
}

.guess-buttons {
  display: flex;
  justify-content: space-around;
  width: 119%;
  gap: 10px;
}

.alerts {
  width: 20em;
  height: 7em;
  background-color: rgb(51, 51, 51);
  position: fixed;
  top: -10em;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s ease 0s;
  border-radius: 1em;
  opacity: 0;
}

.popup-small {
  opacity: 0;
}

.alert-text {
  color: white;
  font-size: 1.5em;
  display: flex;
  text-align: center;
}

.confirm-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 158, 16, 1);
  align-self: flex-end;
  border-radius: 1em;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

/*Upgrades button markup*/
.popup {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  cursor: pointer;
  color: white;
  border: solid 1px white;
  background-color: rgba(49, 158, 16, 0.9);
  width: 150px;
  height: 50px;
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

/*Shop popup markup*/
.popup .popuptext,
.popup-small .popuptext {
  display: none;
  width: 95vw;
  height: 80vh;
  background-image: url("../img/Buy\ upgrades.png");
  box-shadow: 5px 5px 5px 5px black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  top: 60px;
  right: 10px;
  cursor: default;
}

/*Makes the shop show up when the upgrades button is clicked*/
.popup .popuptext.show,
.popup-small .popuptext.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upgrades-shop {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  height: 80%;
  margin-top: 4em;
  margin-left: 2em;
}

.buy-upgrades {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-height: 273px;
}

.buy-upgrades img {
  width: 241px;
  border-radius: 1em;
}


.return-to-red {
  border: 2px solid white;
  background-color: rgba(216, 0, 0, 0.7);
  cursor: pointer;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.timer {
  position: fixed;
  bottom: 8px;
  right: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background-color: rgba(49, 158, 16, 0.9);
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
}

.xpBox {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  color: white;
  background-color: rgba(49, 158, 16, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 430px) {
  .popup {
    display: none;
  }

  .popup-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(49, 158, 16, 0.9);

    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    position: absolute;
    top: 14px;
    right: 10px;
  }

  .popup-small .popuptext {
    right: 18px;
    flex-direction: column;
    width: 91vw;
    height: 86vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .upgrade-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 0em;
  }

  .upgrades-shop {
    margin-top: 0em;
  }


  .upgrade-title {
    color: #000;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-right: 20px;
    font-family: sans-serif;

  }

  .cart-icon {
    font-size: 50px;
    color: #000;
  }

  .center {
    width: 75%;
    height: 40%;
  }

  .start-button,
  .guess-buttons button {
    width: 94%;
  }

  .guess-buttons {
    display: flex;
    justify-content: space-around;
    width: 94%;
    gap: 10px;
  }

  .points {
    width: 12em;
    height: 5em;
  }

  .alerts {
    position: fixed;
    top: 85vh;
    left: 14%;
  }
}